*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px 0;
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
}

.container .box {
    height: 271px;
    width: 280px;
}

.container .box h2 {
    margin: 20px 0 10px 0;
    color: #161543;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
}

.container .box p {
    color: #7687A1;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}